.image{
    width: 350px;
        height:300px;    
        position: relative;
    }
    .style{
        display: inline-block;
       /* padding-left: 100px;
        padding-right: 100px;*/
    height: 350px;
    width: 350px;
    margin: 20px;
    margin-bottom: 50pxspx;
    margin-top:50px;
    
    }
    .source{
        position: absolute;
        margin-left: 280px;
        margin-top: -20px;
    
        color:#8E9AA7;
        text-decoration: none;
    
    }
    .span1:hover{
        color:#8E9AA7;
    }
    .span2{
        color:#8E9AA7;
    }
    .parent{
        margin-left: 100px;
       
    }
    .image:hover{
        transform: translatey(-10px);
       /* transform: scale(0.2);*/
    }
    .submit{
        margin-left: 1000px;
        height:40px;
        width: 250px;
        padding: 20px;
        background-color: blue;
        text-align: center;
       line-height: -25px !important;
    }
    .a{
        text-decoration: none;
        font-size: 30px;
        color: whitesmoke;
    }
    .asc{
        padding: 12px !important;
        border-radius: 5% !important;
        margin-left: 10px !important;
        width: 200px !important;
        height: 50px !important;
    
    
    }
    .button{
        margin-top: -50px;
        margin-left: 50px;
        
    }
    .arrow{
        color: whitesmoke;
        font-size: 40px;
        font-weight: 30px;
    }
    .arrow:hover{
        transform: translatey(10px);
    }
    .heart{
        font-size: 70px;
    }
    .link{
        text-decoration: none;
    }